.pointer{
	cursor: pointer;
}
.border{
	border:1px solid;
}
#firstMenu{
	margin-left:30%;
}
#firstMenu .option{
	float:left;
	height:230px;
	width:200px;
	padding:5px;
}
#editorSaving{
	width:140px;
	float:right;
}
#editorSaving img{
	height:25px;
}
.deleteMode item:hover{
	background-color:#cc4233;
	opacity:0.4;
}
#teleportSelect{
	width:200px;
}