.map{
	position:absolute;
	z-index:1;
	border: 1px solid darkred;
	background-repeat: no-repeat;
	width:336px;
	height:240px;
}
#mapEditor{
	float:right;
}
.mapSprite{
	background:url('../images/sprites/sprite.png') no-repeat;
	width:2px;
}
.tower{
	background-position: -7px -74px !important;
	width: 112px;
	height: 243px;
}
.cave_rock1{
	background-position: -1448px -78px !important;
	width: 16px;
	height: 16px;
}
.cave_rock2{
	background-position: -1472px -78px !important;
	width: 16px;
	height: 16px;
}
.cave_land{
	background-position: -1299px -61px !important;
	width: 48px;
	height: 32px;
}
.grass_land{
	background-position: -6px -1805px !important;
    height: 25px;
    width: 48px;
}
.grass_border1{
	background-position: -1917px -334px !important;
    height: 191px;
    width: 7px;
}
.grass_border2{
	background-position: -1614px -616px !important;
    height: 14px;
    width: 239px;
}
.building_chinese1{
	background-position: -1647px -642px !important;
    height: 144px;
    width: 212px;
}
.building_modern1{
	background-position: -1632px -796px !important;
    height: 80px;
    width: 112px;
}
.building_modern2{
	background-position: -1760px -796px !important;
    height: 72px;
    width: 112px;
}
.grass_bridge1{
	background-position: -1799px -924px !important;
    height: 144px;
    width: 31px;
}
.building_star1{
	background-position: -1632px -898px !important;
    height: 64px;
    width: 80px;
}
.teleport_area{
	height: 144px;
    width: 31px;
}
.playerSpawn{
	height: 23px;
    width: 17px;
}
.teleport_quadrant{
	height: 31px;
    width: 31px;
}
.editorMode .teleport_area,.teleport_quadrant{
	background-color:#53ca35;
}
.editorMode .playerSpawn{
	background-color:#f807f1;
}