.lab_guy1-front{
	background-position: -847px -1747px !important;
	width: 16px;
	height: 20px;
}
.lab_guy1-front-step1{
	background-position: -847px -1777px !important;
	width: 16px;
	height: 20px;
}
.lab_guy1-front-step2{
	background-position: -847px -1807px !important;
	width: 16px;
	height: 20px;
}
.lab_guy1-left{
	background-position: -877px -1747px !important;
	width: 16px;
	height: 20px;
}
.lab_guy1-left-step1{
	background-position: -877px -1777px !important;
	width: 16px;
	height: 20px;
}
.lab_guy1-left-step2{
	background-position: -877px -1807px !important;
	width: 16px;
	height: 20px;
}
.lab_guy1-back{
	background-position: -877px -1747px !important;
	width: 16px;
	height: 20px;
}
.lab_guy1-back-step1{
	background-position: -877px -1777px !important;
	width: 16px;
	height: 20px;
}
.lab-guy1_back-step2{
	background-position: -877px -1807px !important;
	width: 16px;
	height: 20px;
}